button {
  margin-top: 1rem;
  width: 13rem;
  height: 2.25rem;
  border-radius: 0.3rem;
  outline: 0;
  border: 0.1rem solid #7bb985;
  background-color: #7bb985;
  color: #fcfcfc;
  font-weight: 500;
  font-size: 0.875rem;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #fcfcfc;
}

.redButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cc6262;
  color: #fcfcfc;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.875rem;
  height: 2.25rem;
  border-radius: 0.3rem;
  border: 0.1rem solid #cc6262;
}

.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7B90B9;
  color: #fcfcfc;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.875rem;
  height: 2.25rem;
  border-radius: 0.3rem;
  border: 0.1rem solid #7B90B9;
}